#startbtn{
    margin-right: 100px;
}

@media screen and (max-width: 400px) {
  #stopbtn,startbtn {
        margin-right: 0;
        margin-left: 0;
  }

  #startbtn {
        margin-left: 0;
        margin-right: 0;
  }
}
